[2016-10-22 16:09] AndrewDryga opened #1 "Dirty/Transaction contexts"

[2016-10-22 16:09] AndrewDryga opened #2 "Selects in [:field, :field] style"

[2016-10-22 16:09] AndrewDryga opened #3 "Support join operations"

[2016-10-22 16:10] AndrewDryga opened #4 "Ecto type encoders/decoders"
See: https://github.com/elixir-ecto/postgrex/tree/master/lib/postgrex/extensions

[2016-10-22 16:12] AndrewDryga opened #5 "support embeds_one, embeds_many structures (in binary)"

[2016-10-22 16:23] AndrewDryga opened #6 "Cursor reads for pagination"

[2016-10-22 16:24] AndrewDryga opened #7 "Stream result `adapter.stream/3` implementation"

[2016-10-22 16:40] AndrewDryga opened #8 "Wrap Ecto.Multi in transaction context"
https://hexdocs.pm/ecto/Ecto.Multi.html

[2016-10-22 16:43] AndrewDryga opened #9 "Support ecto migrations"
https://github.com/elixir-ecto/ecto/blob/master/test/ecto/adapters/postgres_test.exs

[2016-11-17 16:29] #2 closed

[2016-11-25 15:09] #9 closed

[2016-11-25 15:09] #7 closed

[2016-11-25 15:09] #6 closed

[2016-11-25 15:14] #8 closed

[2016-11-25 15:14] #4 closed

[2016-11-25 15:14] #5 closed

[2016-12-04 20:26] AndrewDryga opened #11 "Log mnesia critical events"
https://github.com/meh/amnesia/blob/master/lib/amnesia/event.ex

[2016-12-04 20:34] AndrewDryga opened #12 "Tables fragmentation"

[2016-12-07 09:23] gmile opened #14 "mix ecto.* commands won't pickup the repo"
If I run:

[code]

I get no output. The command silently exists.

On the contrary, If the repo is specified explicitly, there's some meaningful output:

[code]

Same is valid for `mix ecto.migrate` command.

[2016-12-07 09:41] gmile commented on #14
Turns out I forgot to add this:

[code]

[2016-12-07 09:41] #14 closed

[2016-12-10 19:14] vmoravec opened #15 "Custom configuration in config.exs in phoenix project ignored"
In a phoenix app created from scratch I added into `config.ex`

[code]

However after running `mix ecto.create` I noticed that the mnesia files have been created in `priv/data/mnesia` which is default config I guess. My custom configuration seems to have been ignored.

[2016-12-10 19:26] vmoravec opened #16 "Migration failing with no case clause matching: {:aborted, {:bad_type, :id_seq...."
When trying to migrate [this simple migration](https://github.com/vmoravec/saturn/blob/master/priv/repo/migrations/20161210181650_create_user.exs) via mix ecto.migrate, it failing with:

[code]

[2016-12-10 20:29] vmoravec commented on #16
Have one more question, is the ordering of attributes in e.g. %User{} significant for mnesia?
[code]
The attribute `id` is on second position, how to configure the Ecto.Schema to use `:id` for the `:set` engine?

[2016-12-11 23:09] AndrewDryga commented on #16
Hello,

For Mnesia first key is a Table primary key, at this moment `ecto_mnesia` don't do anything with attributes order, so you should set it to be first manually.

[2016-12-11 23:10] AndrewDryga commented on #15
I guess thats a bug, will fix it.

[2016-12-12 12:55] vmoravec commented on #16
Thanks for the prompt response, any hint what would be the right place to fix the attributes? The schema definition block in the migration doesn't seem to have any effect on that even if I add `add :id, :integer` there.

[2016-12-13 15:44] AndrewDryga commented on #16
Can you show your migration and schema sources?

[2016-12-13 17:12] vmoravec commented on #16
It's in the original issue description above. It's a plain phoenix app with added ecto_mnesia dependency and a single simple migration for `User`.

[2016-12-15 23:00] AndrewDryga commented on #16
@vmoravec By default, `:id` field comes first in both migrations and schemas. And your code looks like email was created before `:id`:
[code]

This is possible when multiple migrations change table, or when you decide to control primary keys manually.

[2016-12-16 16:24] JanStevens commented on #16
How can this be fixed? I defined a very simple migration and just did an `ecto.create` and `ecto.migrate`

[2016-12-16 16:50] AndrewDryga commented on #16
@JanStevens can you publish code somewhere in github?

[2016-12-16 16:51] JanStevens commented on #16
Schema
[code]

Migration
[code]

[2016-12-16 17:20] JanStevens commented on #16
I setup a sample project, might be a bit easier:

https://github.com/JanStevens/devices_ex

[2016-12-16 18:34] AndrewDryga commented on #16
@JanStevens try to disable SQL Sandbox mode in your `test/test_helper.ex` and in `test/support/*` files.

[code]

[2016-12-16 18:46] JanStevens commented on #16
@AndrewDryga Done, updated the repo but still the same problem. BTW I'm not talking about tests, just trying to do a `ecto.create` and `ecto.migrate`

[2016-12-17 01:00] AndrewDryga commented on #16
@JanStevens @vmoravec Issue can be fixed by adding:
[code]
to `config.ex`.

This happens because dir should be set before Mnesia app is started, I think that we will drop it from adapter's config.

[2016-12-17 16:25] AndrewDryga commented on #16
Dropped it in latest commit. v0.6.1 should be ok now.

[2016-12-17 16:25] #16 closed

[2016-12-17 16:27] AndrewDryga commented on #15
@vmoravec can you try to change configuration not by setting it for `ecto_mnesia`, but rather try to add it to Repo configuration?

[2016-12-17 21:21] vmoravec commented on #15
In the end I was successful with putting the configuration bits into the `config/config.exs`, `config/dev.exs` and `config/prod.exs` and get it working that way. Seems adding mnesia configuration into every config has fixed it:
[code]
Like in https://github.com/vmoravec/saturn/commit/a73f3fd3e16479eaf249fed5b5477bb55e475164

However, there is still some incompatibility between the phoenix conventi

[2016-12-17 22:41] AndrewDryga commented on #15
@vmoravec I've created a PR to your repo. No need to explicitly set :id field. Also you don't really need to duplicate config, but you can do it if you want to have different database names for each environment.

I have dropped SQL sandbox code (it's not supported) so `mix test` will start working.

[code]

I'm not aware of what additional changes you made, so did not touch last error. But basical

[2016-12-18 10:42] JanStevens commented on #15
Might be interesting for future references (Maybe can be added to a wiki):

How does one clean up mnesia before every spec? The same as sandbox mode in PostgreSQL

[2016-12-18 15:20] JanStevens opened #17 "Cannot create mnesia dir"
Hello,

Using latest version 0.6.5, I'm unable to run `mix ecto.create`, using the example project (from another issue): https://github.com/AndrewDryga/saturn

[code]

If I create the dir myself everything works, didn't had this with version 0.6.1

[2016-12-18 15:42] AndrewDryga commented on #17
This is not adapter issues, since I've dropped support of custom dirs from adapter config.

You have set it directly for Mnesia (it's part of OTP), so Mnesia itself is trying create non-existent dir.

[2016-12-18 16:03] JanStevens opened #18 "Custom primary keys, it works?"
Hello,

I see the readme stating that custom primary keys is still a work in progress but I managed to get it to work, my fear is that this is wrong and its not yet fully supported.

Schema
[code]

Migration
[code]

[code]

[2016-12-18 16:34] AndrewDryga commented on #18
Your example should work, but only because your primary key will be first in Mnesia record (and Mnesia triggers this field as PK).

[2016-12-18 16:35] JanStevens commented on #18
Great thanks, and what would be the current limitations / possible issues?

[2016-12-18 16:38] AndrewDryga commented on #18
Actually, I can't even guess :). Looks like it should work, but I have never tried this way. And in nearest future I will work on Ecto integrations tests to merge this PR https://github.com/elixir-ecto/ecto/pull/1865, so can't tell when I will be able to get back to PK's.

[2016-12-18 16:40] JanStevens commented on #18
Great ill keep you posted. And that looks awesome :D Great job!

[2016-12-18 18:17] AndrewDryga commented on #18
Thanks for support and testing it :).

[2016-12-18 21:09] JanStevens commented on #18
Allright, first issue that pops up during testing, I'm trying to test that the unique constraint is validated correctly. Kinda knew that it wouldn't work but here is the output I receive:

[code]

It  seems the error message from mnesia is not correctly translated to the upper layers

[2016-12-20 09:01] JanStevens opened #19 "Support variable interpolation"
Hello,

Variable interpolation in a where clause is not working.

[code]

The test I'm currently using

[code]

I'm willing to contribute but a point in the good direction might help, currently I see a difference in the query param passed to `def update` in match_spec.

[code]

vs

[code]

[2016-12-20 11:40] JanStevens commented on #19
After some inspecting I found out the difference in a query with variable interpolation and without. On line 58 in `match_spec` I see that the where condition is different depending on the query. This causes the `match_condition({:in, [], ...)` call to fail.

[code]

[code]

The `match_condition` will assume in the second case that `{:^, [], [0, 2]}` is the parameters list when it in fact is somet

[2016-12-20 14:09] JanStevens opened #20 "Ecto.Schema.Metadata state is built instead of loaded when retrieving a record"
When retrieving a saved record from Mnesia the record's state is built instead of `loaded` as one would expect

[code]

This is quite problematic when you want to call `insert_or_update`, it will always insert instead of calling update. A typical example (from the docs)

[code]

When inserting or deleting a record the returned element is `loaded` or `deleted`.

[2016-12-20 14:31] JanStevens commented on #20
Possible fix (again this seems quite hackisch) is to manually update the state to `loaded` when building the resulting from mnesia. In `ecto_mnesia/record.ex:39`

[code]

I don't really get how the state is managed in ecto so this could be pretty bad

[2016-12-24 15:10] AndrewDryga commented on #20
Hm. Let me check.

Internally Ecto have two interfaces:
1. `execute/6` and `insert` that accepts raw list of return values as keyword map. There Ecto manages schema creation and state manually.

2. Adapter methods for insert, get, etc. Where schema should be returned manually.

So you may be right about solution :).

[2016-12-24 15:10] #20 closed

[2016-12-24 15:23] AndrewDryga commented on #19
This is a little bit more complex. We need a way to parse sources, since it will contain all possible interpolations, and we need to extract the right one from them.

[2016-12-24 15:24] AndrewDryga commented on #19
I'll try to make this test pass:
[code]

[2016-12-24 16:34] #19 closed

[2016-12-24 17:21] AndrewDryga commented on #18
@JanStevens Can you give more code so I will be able to reproduce this? In meanwhile I have added new case that test insert with duplicate primary key.

[2016-12-24 17:54] AndrewDryga commented on #18
Can you re-run tests against latest adapter version?

[2016-12-27 08:49] JanStevens commented on #18
Hello,

Still same issue, I've setup a repo here with a working project (just run the tests): https://github.com/JanStevens/devices_ex

[2016-12-29 14:51] kexoth commented on #18
Hello @AndrewDryga  & @JanStevens

I'm migrating an app from Amnesia to this library, but have a similar issue.
I wanted to use a custom primary key & did as @JanStevens.
It worked at start, i.e. I can insert records & get them, also when I query directly `:mnesia` the results are as expected.

However I cannot update nor delete them. I get this error:

    ** (KeyError) key :struct not found in:

[2017-01-22 14:51] #17 closed

[2017-02-03 19:24] cs-victor-nascimento commented on #16
Just to leave here for History, I had the same error from a different perspective. I did not call mix `ecto.create` before calling migrate. The error is a bit cryptic and took me a while to notice my dumbness...

Anyway, the dir config I am using something like this (which should work non-umbrella projects):

[code]

[2017-02-10 09:22] scrogson commented on #18
I ran into that same error tonight. The error is being raised [here]. The `KeyError` is happening because the exception is supposed to be raised with the `struct: module` passed in.

The `get_pk!/2` function will need to become `get_pk!/3` and pass in the schema module so that it can be raised properly.

However, even after correcting the error in the source code locally, that didn't fix the error

[2017-02-10 21:57] notriddle opened #24 "Add support for column renaming in ecto migrations"
[code]

[2017-02-16 19:26] AndrewDryga commented on #24
It should be pretty easy to implement, I'll fix it in a few days when I'll have a little bit more free time :)

[2017-02-16 19:28] AndrewDryga commented on #15
@JanStevens It would be a wrong reference, because sandbox mode traps all your queries into a transaction that bound to test process, and cancels that transaction when tests finishes.

I'm have ideas how to implement same behaviour in Mnesia, will see is it possible without hacking native transactions.

[2017-02-16 19:29] AndrewDryga commented on #18
@scrogson you are right, I'll fix it in next release.

[2017-02-21 04:54] rschooley opened #26 "Why am I getting `:no_exists on :id_seq`"
[code]

my migration is (I've tried `:set` as well)

[code]

I see an `id_seq` table in mnesia, but it is empty.  Does it need to be seeded with something or did I do something else wrong?  Thanks for the help.

[2017-02-21 09:47] AndrewDryga commented on #26
Can you show what shell commands do you run? Basically whenever a table is created we should insert a new record into `id_seq` table that will store sequence number. And it looks like record or whole table does not exist (was not created on migration).

[2017-03-13 19:24] gallexme opened #27 "** (RuntimeError) Schema :id_seq does not exist"
=INFO REPORT==== 13-Mar-2017::20:23:11 ===
    application: logger
    exited: stopped
    type: temporary
** (Mix) Could not start application crypto_exchange: CryptoExchange.Application.start(:normal, []) returned an error: shutdown: failed to start child: CryptoExchange.CryptoCrawler
    ** (EXIT) an exception was raised:
        ** (RuntimeError) Schema :id_seq does not exist
            (ecto

[2017-03-13 22:36] AndrewDryga commented on #27
This duplicates #26. Can you answer on the question i've posted there?

[2017-03-13 22:36] #27 closed

[2017-03-14 06:55] gallexme commented on #26
@AndrewDryga
#27:
mix ecto.migrate
then running my umbrella project with mix phx.server
when i do then insert/get whatever something I get the id_seq error

edit: @AndrewDryga if you need anymore infos please tell me and btw im using windows 10

[2017-03-14 16:44] gallexme commented on #26
@AndrewDryga  might help:
https://github.com/gallexme/ElixirTest

[2017-03-14 19:08] AndrewDryga commented on #26
@gallexme thanks, I'll look into it.

[2017-03-14 19:27] AndrewDryga commented on #26
@gallexme you need to create directory for Mnesia files first, try to call `mix ecto.create`. If it fails, just manually create this path. (You can persist in in git by adding empty `.gitkeep` file into it.)

Also you will need to add `config :crypto_exchange_web, ecto_repos: []` to `crypto_exchange_web` application, to tell ecto migrator that you don't have repos in this app.

[2017-03-14 19:40] gallexme commented on #26
The Patch exists on my pc and
Actually what I found out is that when I use the Mix task it create The folder under  crypto_exchange_data/priv
And when I run The umbrella and use mnesia.info it shows a different Patch umbrella/priv

And the other issue is just a warning it shouldnt matter as the Web App doesn't even have ecto

[2017-03-14 19:40] gallexme commented on #26
Sorry was written on my phone Patch means path

[2017-03-14 21:18] scrogson opened #28 "Updating a field to `nil` is ignored"
I'm unable to set a column to `nil` in an update. I've tracked it down to this [line](https://github.com/Nebo15/ecto_mnesia/blob/master/lib/ecto_mnesia/table.ex#L70).

Is this desirable?

Since `Repo.update` only works with a changeset, it seems appropriate to allow columns to be set to `nil` if they are included in the `changes` key.

[2017-03-15 05:37] christhekeele opened #29 "Heading in the direction of a query engine"
I've been tinkering with a similar concept recently (coyly called MatchQL). I set out to build an abstract `MatchQL.Adapter` with concrete rudimentary ETS, DETS, and Mnesia implementations. After a lot of research, I realized there just isn't enough manual locking capability to build a meaningful transaction in ETS or DETS, which invalidated a lot of the project, so I gave those up and was left wi

[2017-03-15 16:44] AndrewDryga commented on #28
Thats a logical bug, you definitely must be able to write whatever you want.

[2017-03-16 18:21] AndrewDryga commented on #29
Wow, thats a huge pile of knowledge in a single issue 👍.

I had many weeks of thinking should it be included or not. Eventually I think that we could do many SQL emulating, but we need to be very explicit when we emulate this features, because people that will use adapter could shoot themselves in the foot in case they will not understand that there is a loot of data copying happens in place.

Wha

[2017-03-16 18:55] ontofractal opened #30 "^value in table.array query leads to an exception"
`in` operator doesn't work as expected in the following code:

[code]

When run process is terminated with the following exception:

[code]
relevant schema part is
[code]

Any advice? Thanks!

[2017-03-16 19:59] christhekeele commented on #29
Most of my work was just to learn, I don't have a particular business case. :)

Additionally, I have been tinkering with writing game servers in Elixir. Half my entities need to be persisted and come from Postgres, but many are ephemeral with frequent access and searching but rare joins, and having them in memory is handy. But today I can't use ecto on both, and I need limited, if not fast, suppor

[2017-03-24 16:57] adamdaugherty opened #31 "Repository creation fails"
I am using ecto_mnesia 0.7.1, ecto 2.1.4, Elixir 1.4.2, with the following configuration:

[code]

When I run `mix ecto.create`, the `dir` defined above (`priv/my_app/mnesia`) is created, and then the following occurs:

[code]

In the course of investigating the problem, I started looking at the `storage_up` and `conf` functions in `storage.ex`, since that's where the error was occurring. Strangel

[2017-03-25 14:58] AndrewDryga opened #32 "Adapter ignores mix configuration"
Relates to #31

[2017-03-25 15:00] AndrewDryga commented on #31
Hello, and thanks for a feedback 👍.

First of all error that contains `:function_clause` means that there was some data that Erlang wasn't able to pattern match agains function. Do you have any migrations in your project?

[2017-03-25 15:19] adamdaugherty commented on #31
I tried it both with and without migrations, as I was just trying to get things nominally working. It didn't seem to make a difference with respect to this issue. I also tried both with and without the mnesia directory on disk, as well as messing around with different configurations, but they all had the same result.

[2017-03-25 15:34] AndrewDryga commented on #31
Can you create a sample repository where issues can be reproduced? I'll take look at it

[2017-03-25 16:14] adamdaugherty commented on #31
Sure thing, but it'll have to wait until Monday.

[2017-03-27 21:44] adamdaugherty commented on #31
I've created a repo to demonstrate the issue [here](https://github.com/adamdaugherty/ecto_mnesia_issue_31). The steps to recreate the issue are fairly straightforward:

[code]

Please let me know if there's anything else you need, or if you have any questions. Hopefully, I'm just doing something stupid and obvious and this doesn't result in you having to make any changes. Thanks a bunch for your h

[2017-03-31 16:05] AndrewDryga commented on #29
@christhekeele Sorry for delayed response. Too many projects in Elixir this days :).

I guess we can agree on following properties:
1. Postpone full SQL compatibility untill adapter itself is stable and passes Ecto integration tests.
2. Later we can build another adapter (eg. `EctoMnesia.SQL`) just on top of `EctoMnesia`, that will add support for all emulated features.

If this path is ok for you

[2017-04-01 14:33] AndrewDryga opened #33 "Sandbox mode for tests"
We need a way to emulate transaction trap that will work with `Ecto.Adapters.SQL.Sandbox`.

Relates to #15.

[2017-04-01 14:33] #15 closed

[2017-04-01 15:52] AndrewDryga commented on #31
You need to do two actions:
1. Mnesia path is specified as charlist, replace `"` with `'` in config.ex:
[code]

2. Create dir at first:
[code]
  Mnesia don't create data dir by itself.

Result:
[code]

[2017-04-01 16:18] AndrewDryga commented on #30
Hello.

Unfortunately this adapter uses `MatchSpec` to query fields, and there is no easy way to make "item in field value" queries. I guess it can be done by using `QLC` instead of `MatchSpec`, but we are not at that point yet.

I will add a raise for this case, to make it clear for developers.

P.S.: Even `:in` is emulated by replacing it with multiple `:or` statements.

[2017-04-01 16:18] #30 closed

[2017-04-01 18:34] AndrewDryga commented on #28
Fixed in latest release

[2017-04-01 18:34] #28 closed

[2017-04-01 18:35] AndrewDryga commented on #24
Fixed in latest version, if you able - please test it (especially data consistency).

[2017-04-01 18:35] #24 closed

[2017-04-01 18:37] AndrewDryga commented on #31
Added warnings about charlist to latest release.

[2017-04-01 18:37] #31 closed

[2017-04-02 07:58] mbenatti opened #34 "Create database folder if not exists"
in my dev.exs I have:

[code]
But I don't created the dir mnesia/dev

Executing ecto.create I got:

[code]

When I created the DIR /priv/data/mnesia/dev the commands works fine!

[2017-04-02 08:22] AndrewDryga commented on #34
This happens because It's not the adapter that decides where to store data, you configure Mnesia itself. And it does not create data directory by default.

[2017-04-02 09:50] #34 closed

[2017-04-02 10:17] mbenatti opened #35 "Field :id does not exist"
Its suppose to create a ID automatically on migration right?

Error:
[code]
My Schema:
[code]

Migration file:
[code]

[2017-04-02 14:48] AndrewDryga commented on #35
Yes, id is created automatically unless you will set `primary_key` to `false`. Can you please, setup a test repo where this issues can be reproduced? I'll take look into it.

[2017-04-03 00:12] mbenatti commented on #35
The error is:
That the schema `  schema "feed" ` should be `  schema "feeds" ` like the migration.

Thank you Andrew!

[2017-04-03 00:12] #35 closed

[2017-04-03 16:15] adamdaugherty commented on #31
Thanks a bunch for your help, that solved it. I really appreciate your help.

You might want to investigate the issue I mentioned as an aside, as it still seems to be present, at least during `mix ecto.config`. The `conf` function in `lib/ecto_mnesia/storage.ex` is being passed a keyword list that looks like `[otp_app: :my_app, repo: MyApp.Repo, adapter: Ecto.Adapters.Mnesia]`, not `[host: whateve

[2017-04-03 18:12] AndrewDryga commented on #31
@adamdaugherty Thanks, Ill take look into it

[2017-04-19 22:10] walkr opened #36 "Field `:id` does not exist in table"
I'm planning to use ecto_mnesia for a project as a message store, but I can't get it to work.

[code]

[code]

[code]

Any thoughts?

Thank you!

[2017-04-20 00:51] walkr commented on #36
Oops, it looks like the cause was an improperly defined migration.
Solved!

[2017-04-20 00:51] #36 closed

[2017-04-20 20:22] walkr commented on #26
I'm getting this similar error `{:aborted, {:no_exists, :id_seq}}`

In my case the error is triggered when starting my node `named`.

[code]

This is a serious limitation, and it should probably be addressed!

Cheers!

[2017-04-21 08:01] AndrewDryga commented on #26
@walkr try to:
- run migrations from named instance;
- set a custom Mnesia dir. Mnesia stores data in folder with host name, and when you change host name maybe it just don't see migrated DB schema;
- try `sname` instead of `name`.

In general, It's not an adapter limitation, rather you should dig deeper into Mnesia details.

[2017-04-21 19:26] walkr commented on #26
@AndrewDryga Thanks!

I've actually ended up fixing the problem, but bumped into another one.

I've solved the problem by supplying the settings on the adapter in the `config.exs` instead of `:ecto_mnesia` as it is suggested in the README.

**Example**

[code]

However, now I'm bumping into the same `{:aborted, {:no_exists, :id_seq}}` when I'm using `ram_copies`.

[2017-04-22 09:28] AndrewDryga commented on #26
For RAM copies you need to make sure that you run migrations on each time Erlang VM node starts. And this is a adapters part that could be automated. I'll add separate issue for it.

[2017-04-22 09:29] AndrewDryga opened #37 "Automatically migrate on node start when storage_type is ram_copies"
Story begins in #26

[2017-04-23 15:28] mathieul opened #38 "Failing to order by a non unique field"
First of all thank you for sharing ecto_mnesia! Using Mnesia via Ecto sounds a bit like magic 👍.

I am running into a problem when ordering by a field with non unique values.

For instance:

[code]

[code]

Looking at `EctoMnesia.Record.Ordering.cmp` it seems that the case where left and right are still equal after applying all join expressions is not handled.

I've fixed the problem for me by app

[2017-04-23 15:47] AndrewDryga commented on #38
Hello. Thanks for trying adapter 👍.

Thats definitely a bug, I will look into it. And I guess your fix is the correct one 👍

[2017-04-26 23:05] adamdaugherty opened #40 "Mnesia dir changes based upon context in umbrella project"
Using Ecto 2.1.4, ecto_mnesia 0.9.0, and Elixir 19, there appears to be inconsistent behavior with respect to the path to mnesia's disc copies in umbrella projects.

During the execution of `ecto.create` and `ecto.migrate`, the mnesia files for the app under the umbrella are created relative to the app, as one might expect:

[code]

However, when the umbrella project is run, mnesia appears to be l

[2017-04-27 08:36] AndrewDryga commented on #40
Hello,

Thanks for a detailed feedback. Unfortunately adapter itself has nothing to do with Mnesia migrations (there we simply use Erlang implementation), however I'll try to look closer if we can fix it on our side.

[2017-04-27 18:44] adamdaugherty commented on #40
Just in case anyone else is having a similar issue and needs a workaround, use the following config for mnesia in your app's `config.exs`:

[code]

It seems that mix tasks run relative to the path of the mix file. Consequently, this change will make it so running `mix ecto.create` and `mix ecto.migrate` from the root of the umbrella will create the mnesia files in the `/priv/data` directory under

[2017-06-02 05:49] troygnichols commented on #40
Hi, I'm using this workaround and it seems to do the same thing whether I'm in the umbrella root or the `apps/<project>` dir

    config :mnesia, :dir, [__DIR__, "..", "priv", "data"]
      |> Path.join()
      |> Path.expand()
      |> to_charlist()

[2017-06-14 19:08] kexoth opened #41 "Migrate more :mnesia calls into the adapter"
Hey,

I migrated from `Amnesia` into `ecto_mnesia` because I felt that it's more convenient for a Phoenix project.

So far as I looked at the code all the queries are based on matchers. Since mnesia has some of it's own mechanisms for some calls like `:mnesia.read`, `:mnesia.index_read`, etc.

At the moment I use those calls from the native Erlang module instead of `Repo.get` & `Repo.get_by`.

Wha

[2017-06-15 07:30] AndrewDryga commented on #41
Hello,

Actually, this adapter never tried to provide full Mnesia functionality (like Amnesia does). Instead, it's aim is to become drop-in replacement for small hobby projects where deploying separate DB is "too much" or tasks where your lookup time should be relatively small.

If there are some things that can be improved in current implementation - having PR would be great. But I guess it won't

[2017-07-02 02:41] troygnichols opened #42 "Limit does not support expressions"
With SQL adapters like postgres you can write something like this:

    limit = 42
    MyRepo.all(from item in Item, limit: ^limit)

In ecto_mnesia, this produces an error like this:

    ** (FunctionClauseError) no function clause matching in Enum.take/2
     stacktrace:
       (elixir) lib/enum.ex:2334: Enum.take([[%SellOffer{__meta__: #Ecto.Schema.Metadata<:loaded, "sell_offer">, age: 11, appli

[2017-07-24 09:16] chvanikoff opened #44 "Support types other than basic"
Since Mnesia is not limited by types of data it stores, would be good idea to provide more basic types like `atom`, `pid`, `tuple` etc.
If I understand it correctly, right now I have to define my own `Lib.Type.Atom` module which is ok but I think would be nice to have out of the box with the Mnesia adapter.

[2017-07-31 18:13] chvanikoff opened #45 "Support for "rename table""
There should be a possibility to rename tables in migrations, like with Postgres or Mysql:
`rename table(:old), to: table(:new)`

[2017-08-01 08:29] AndrewDryga commented on #45
This is definitely should be supported, I wasn't able to find a native way for a table renaming, so some emulation should be done.

[2017-09-23 03:59] sneako commented on #31
@adamdaugherty I noticed that (about the defaults) as well. I have to set MNESIA_HOST and MNESIA_STORAGE_TYPE env vars to change those values

[2017-09-29 00:56] alessandrousseglioviretta opened #49 "Record does not get deleted in on_exit callback"
Within a ExUnit test, I use an `on_exit` callback to cleanup the database after testing:
[code]
After testing, I run `iex - S mix`and then `My.Account |> My.Repo.all`, which still shows the same record. Is this result to be expected? Why doesn't the record get deleted? Am I missing anything?

Thanks!

[2017-09-29 10:06] alessandrousseglioviretta commented on #49
I guess the delete does not get synced to disk: can anybody confirm? Is there an idiomatic way to force the sync?

[2017-10-03 19:52] AndrewDryga commented on #49
Are you sure that this is exactly the same account? It could bethat you have different mnesia paths for iex and test environments, so you see two different databases.

[2017-10-06 14:15] aus70 commented on #49
Yes, it was. I have now a path for each environment (dev, test, production) and I wipe all tables before the tests. I couldn't solve the original problem, but now I can live with it.

[2017-11-14 03:46] rschooley opened #50 "[error] Could not retrieve migrated versions."
First, thanks for this driver/lib, it's great to get mensia with ecto.

For this issue, sometimes I run my test suite and I get this error.  If I just keep rerunning my test suite it will eventually run without the error, not sure what the problem is.

[code]

[2017-11-14 12:05] AndrewDryga commented on #50
Do you use default `mnesia_dir` or an overriden one?

[2017-11-24 18:39] rschooley commented on #50
An overridden one to `/usr/local/var/`

[2017-12-20 07:19] rschooley opened #52 "Support insert_all/3 with source"
https://hexdocs.pm/ecto/Ecto.Repo.html#c:insert_all/3

I only see tests and an implementation for passing a schema to insert_all/3 in ecto_mnesia.

[2017-12-20 10:57] AndrewDryga commented on #52
Yes, we have noted in the readme that we don't support schemaless queries. I plan to work on adapter during next few weeks and going to take a look how to support them :).

[2017-12-23 05:42] rschooley commented on #50
Any chance of getting a fix for this.  The driver is pretty much unusable with this issue.

[2017-12-30 10:16] rschooley commented on #50
I switched to using the default dir and still get this issue.  If I rerun mix test enough times it will eventually work.

Is it some race condition when trying to load the database from disk?

[2017-12-30 10:22] AndrewDryga commented on #50
@rschooley I plan to work on adapter compatibility with upcoming Ecto 3.0 and will try to address this issue there.

It's hard to tell what exactly is happening, if you can provide a repo that reproduces this issue, I'd be more than happy to investigate it deeper.

[2017-12-30 19:21] rschooley commented on #50
Cool, thanks for the reply.

As a temporary fix I removed the create and migrate from the test aliases in mix.exs

[code]
is now
[code]

in my project and I can continue.

[2018-01-24 18:31] brodeuralexis commented on #42
I've hit this problem to.
Here's what I could figure out:
[code]
will set `query.limit` as a `%Ecto.Query.QueryExpr{}`

I think `EctoMnesia.Planner.get_limit/1` should make use of `Ecto.Query.Dynamic`.

[2018-02-17 14:43] josevalim opened #53 "Discuss the importance of Ecto migrations for ecto_mnesia"
Hi @AndrewDryga,

Apologies if this is not the correct place for this but I would like to ask how important is migrations for ecto_mnesia. We are discussing the possibility of creating ecto_sql, to keep Ecto core small, and I am wondering if migrations should be moved to ecto_sql or be kept in the main Ecto repo.

I am thinking that for databases like Mnesia and Mongo, running user scripts as migr

[2018-02-18 11:19] AndrewDryga commented on #53
Hello @josevalim,

Personally, I don't see this adapter as used for a long term in production. I see it more as a temporary solution so you can work with Elixir and Ecto without bothering too much about deploying and/or installing dependencies, especially when you doing something simple. (There are some other use cases though, like embedded software and when you need very low latency.)

So I like

[2018-02-18 21:05] josevalim commented on #53
@AndrewDryga the thing is that people want to use Ecto even without a database and removing the ecto_sql stuff is a good boundary for that. :) Maybe we should have both ecto_migration and ecto_sql.

[2018-02-18 22:19] AndrewDryga commented on #53
@josevalim nothing stops ecto_mnesia from depending on ecto_sql. Of course, we won't need most of it, but it's not the most important concern at the moment :).

[2018-03-13 01:15] EnriqueAldana opened #54 "Unique index , associations and :in query clausal"
I am using Mnesia adapter but it does not support:
Unique/all other constraints (including associations) and :in query clausule

Let me give you a vote to take importance to development this features.
Regards
Jesus Enrique Aldana Sanchez

[2018-03-17 18:24] AndrewDryga commented on #54
Hello @EnriqueAldana. Unfortunately, we do not accept feature requests in form of issues. I only have time to concentrate on whatever is already implemented, just because It allows the adapter to stay a simple abstraction on top of Mnesia. However, contributions are welcomed and if someone what's to implement the feature, I'd be more than happy to mentor and merge the PR :).

I believe `in` should

[2018-03-17 18:27] AndrewDryga commented on #53
I'm closing this because there is no active discussion any more.

[2018-03-17 18:27] #53 closed

[2018-03-17 18:49] josevalim commented on #53
Yes, apologies for not closing it. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-04-10 15:16] Mayeu opened #56 ""Schema :users does not exist" while the DB has been created and migrated"
Hello :wave:,

I am having some trouble when deploying a Phoenix project using ecto_mnesia.

My config is the following:
[code]

When I am testing the app everything works great, but trying to deploy fails with an error stating that the :users table is missing:

[code]

If I start a console and check the mnesia info I get:
[code]

But some info looks weird here:
* There is no `disc_copies` when my

[2018-04-11 08:09] AndrewDryga commented on #56
Hello,

Looks like Mnesia doesn't use `:dir` setting, so it looks at default directory which should be empty. Having a repo to reproduce is awesome, thank you, I'll definitely take a look.

[2018-04-11 08:13] Mayeu commented on #56
Awesome, I'll stay availlable if you have any question. Also, I still pretty new to Elixir, so the code *may* be a little misorganised and non idiomatic :sweat_smile:

[2018-04-13 03:00] Mayeu commented on #56
Hello again,

I'm doing some testing on the development version, and I am also finding some inconsistency.

I have forced my `:host` to be set to `:habitibot`, and that shows in `iex`:
[code]
But then when I show `:mnesia.info`, I don't see this host at all, only the `nonode` one:

[code]

Since it is the dev version, the DB has been created and migrated via `mix`. While on the live I have [this d

[2018-04-13 03:35] Mayeu commented on #56
So I did have some errors in the script (passing the wrong configuration to the migrator). This should be fixed. But now there is something going on with the host name.

Like previously, if I simply run the migration with the default configuration the DB is created with `nonode@nohost` (which is an issue I think because that's not the name of the app running afterwards), but if I use `export MNESI

[2018-04-14 08:13] Mayeu commented on #56
After some research I have discovered this [demo repository](https://gitlab.com/chvanikoff/mnesia-demo) featuring some mnesia migration via RPC instead of running the migration "indepentently".

I have adopted the idea and now my DB creation & migration seems to work. It's far from perfect for a general use cases (I see a lot of potential edge cases not covered), but it *works for me*®.

I think w

[2018-06-11 21:50] Qqwy opened #61 "Error on migration containing `references(...)` field type"
The README states:

I just tried to migrate a Postgres-app over to Ecto_Mnesia, and it was unable to run my migrations because I had `references("table_name")` fields in there. Since this is also 'just a type', I think better behaviour would be to ignore the result from this as well.

[2018-06-11 22:36] Qqwy opened #62 "'preload' results in 'Complex :in queries is not supported' error"
When using an `Ecto.Query.preload(:relation_name)` in a pipeline with a query, the following error is thrown:

[code]

This error is not indicative of what is happening here, so:

a) we need a better error.
b) maybe it is possible to support this feature after all?

[2018-06-12 10:04] AndrewDryga commented on #61
@Qqwy I think we should warn instead or ignoring there, so that developer knows what is actually happening. PR is welcome :)

[2018-06-12 10:05] AndrewDryga commented on #62
@Qqwy can you contribute a test that reproduces it? We do support some `:in` queries, but they are emulated by nested `:or`'s and don't work in all possible cases.

[2018-06-12 13:07] Qqwy commented on #62
Of course! I am building a chat application, and this is what I am doing:

### Schemas:

[code]
[code]

### Migrations:

[code]
[code]

(For this example, the 'conversation' schema and 'apps' schema are not really important)

I then attempt the following query:

[code]
to fetch all Messages which should each contain there respective sender.
Executing this query fails with the error shown above (`C

[2018-06-12 13:33] Qqwy commented on #45
Yep, I believe the only thing Mnesia supports is:
1) create new table with same structure but new name
2) Copy data over from old table to new table
3) Destroy old table

[2018-06-12 23:30] Qqwy opened #63 "Problem with queries including timestamps"
## Expected behaviour

Queries like
[code]
run without problem, and result in a list of ten message structs based on the given `sent_before_datetime`.

## Actual Behaviour

We get errors like this one:

[code]

## What is going on:

Timestamps are converted into the Erlang format when stored in Mnesia (the nested two-tuple format, c.f. `NaiveDateTime.utc_now() |> NaiveDateTime.to_erl`)

Inside mat

[2018-06-12 23:37] Qqwy commented on #63
I'd love to create a PR for this by the way. Where can I find the applicable logic? I'd guess somewhere close to https://github.com/Nebo15/ecto_mnesia/blob/f9b69e83d5cc01dc81b6615f0a1f9f75a54ce37b/lib/ecto_mnesia/record/context/match_spec.ex#L117 but I have not found it exactly yet.

EDIT: Found it! :-)

[2018-06-13 09:22] Qqwy commented on #61
Turns out the reason for this is that Ecto until 2.2 required you to use an atom as table name in references (So `references(:table_name)` was correct, and `references("table_name")` would throw). Since 2.2, this was resolved (And running that migration with the new version just skips over it). However, EctoMnesia does not support this new ecto version yet, and the new `mix ecto.migrate` will not

[2018-06-13 11:18] #63 closed

[2018-06-14 11:42] Qqwy commented on #41
I think this could be mentioned more clearly in the README.md

[2018-06-15 07:41] Qqwy opened #65 "order_by: and limit: seem to be EXTREMELY slow"
Unless I am mistaken (and please tell me if I am; it would make me very happy ^.^), the ordering and limiting behaviour that EctoMnesia uses is emulated in a highly non-scalable way:

- First, everything is selected from the database
- Then, everything is sorted to adhere to the `order_by` statement (using `Enum.sort` and the like)
- Then, we chop off the tail, to adhere to the `limit`.

This mean

[2018-06-28 15:15] AndrewDryga commented on #65
@Qqwy I've updated the readme. QLC is definitely an option and PR would be super-appreciated (I'll buy you a bear :).

[2018-06-28 15:15] #65 closed

[2018-07-11 11:31] anuragjain67 opened #67 "Getting :cyclic abort when using Repo.Transaction in case of multiple process."
If multiple process calling **reserve** function then it's throwing
Erlang error: {:cyclic, :nonode@nohost, {:reservationinfo, 5}, :write, :write, {:tid, 38, #PID<0.627.0>}}

[code]

**Solution**
Root Cause - We should not do catch Mnesia.Transaction. Referring - StackOverflow (https://stackoverflow.com/a/8105191/2000121).

We are doing - https://github.com/Nebo15/ecto_mnesia/blob/master/lib/ecto_

[2018-07-12 12:08] anuragjain67 commented on #67
Resolved in https://github.com/Nebo15/ecto_mnesia/pull/68

[2018-07-12 12:08] #67 closed

[2018-08-20 14:05] Awlexus opened #70 "Preload fail because the foreign key is used, instead of the primary key"
I have the following schemas:
[code]

When I try to preload the `themes` of an `Anime` it fails:
[code]

I think the error lies in the expression `expr: [asc: {{:., [], [{:&, [], [0]}, :anime_id]}, [], []}]`, which should have use  `:id` instead.

Sorry if this is the wrong place for posting this issue

[2018-09-01 21:26] Qqwy commented on #56
@Mayeu Please go ahead and write out these deployment steps, because we are struggling with exactly the same thing right now!

[2018-09-02 07:11] Mayeu commented on #56
@Qqwy Sorry not a priority for me right now! But my project using mnesia is available on GitHub. Here is [a direct link to my migration](https://github.com/Mayeu/habitibot/blob/master/apps/repository/lib/repository/release_tasks.ex) task.

Note that this is really a side project I rarely touch, so I can't be sure it is still working with the last version of everything.

[2018-09-13 07:38] Qqwy opened #71 "Streams: EctoMnesia does not support Ecto streams, and the custom EctoMnesia.Table.Stream uses records rather than structs"
I wanted to use `MyApp.Repo.stream` to upgrade some rows in my tables to a format with new constraints (in this case: Giving all of them a UUID, since all newly-inserted models will have this UUID).

So `MyApp.Repo.stream` will raise an error, stating that `EctoMnesia.Table.Stream.new` should be used instead.

However:

1. This does not support queries, but only low-level table names.
2. This give

[2018-09-22 21:22] Qqwy commented on #56
@Mayeu I am almost able to make it work, with the following caveats:

- It is required to start the current application as well, to ensure `Ecto.Repo.Supervisor` (and probably other locations as well) is able to read the application's configuration.
- When running the `migrate` function directly from the command-line, the code fails with:

[code]
What causes this problem (`id_seq not active`). I d

[2018-09-22 23:20] Qqwy commented on #56
Hmm... It seems that ecto_mnesia does not properly read out the MNESIA_HOST and MNESIA_STORAGE_TYPE command-line parameters, although they are specified as explained in the README.

hard-coding them seems to have made it slightly less problematic to run it.

[2018-11-05 18:55] WernerBuchert opened #72 "Are there any plans to support Ecto 3.0?"

[2018-11-07 18:09] AndrewDryga commented on #72
Hi, I plan to support Ecto 3.0 but can't tell when that would happen because have too much work on the day job and lots of other open source repos. But if somebody wants to tackle this task - I would be happy to help.

[2019-01-14 14:48] Qqwy opened #73 "Ecto.Multi errors result in `{:error, :rollback}` rather than the error that was raised in the Ecto.Multi function."
Whenever creating an Ecto.Multi that returns an error.
(Such as by using `Ecto.Multi.error` or by returning `{:error, val}` rather than `{:ok, val}` from an `Ecto.Multi.run`), this is not properly passed up through the `Repo.transaction` call.

Furthermore, rather than passing a value up, a `CaseClauseError` is raised.

# Example:
[code]

Expected result:

[code]

Actual result:
[code]

[2019-01-14 15:07] AndrewDryga commented on #73
Can you please add Ecto version that you are using?

[2019-01-14 15:22] Qqwy commented on #73
This is on the newest Ecto that EctoMnesia supports, which is 2.1 IIRC.

I was able to find the cause of this problem, btw. It's [here](https://github.com/Nebo15/ecto_mnesia/blob/f6c8a572fbf056f18a108ee1d52088420c86a1a2/lib/ecto_mnesia/planner.ex#L310). The `rollback` function is expected to take the reason as second argument, but EctoMnesia uses an unused `_tid` argument and hard-codes `Mnesia.ab

[2019-02-21 05:06] English3000 opened #75 "Will this adapter be updated to Ecto v3?"
Hey,

I am using your adapter for a few internal tools.

I see that it's been almost 4 months since the [release of Ecto v3](https://github.com/elixir-ecto/ecto/releases).

When do you think support for it will be added?

[2019-02-25 14:58] AndrewDryga commented on #75
@English3000 I'm sorry, but I can't give ETA as my hands are all busy however a PR would be welcome. There were few attempts but it's not easy as you might think :).

[2019-02-25 14:58] #75 closed

[2019-11-08 00:36] #38 closed

[2020-02-07 08:45] AlonzoRicardo opened #76 "Current Status?"
Hello,

I was wondering what the current status of the project is? I'd like to use it for more of my projects and i have used it already for some but, i see a preoccupying inactivity, there are merged changes to master that haven't been made available through hex, `v0.9.1` does not deliver the latest changes for [example](https://github.com/Nebo15/ecto_mnesia/pull/74), are there any plans to keep

[2020-02-07 09:27] AndrewDryga commented on #76
@AlonzoRicardo right now the main issue is that Ecto 3.0 is our and there is lots of work to make this adapter support it, I don't have enough time to make it happen and as you can see there is not enough interest in the community. So adapter is on pause until we would need to revive it for our company projects.

[2020-07-25 14:43] AugustJohansson1999 opened #79 "What do we do with the migrations runner in this project?"
Hi,
I found this project and thought I could use it in a project of mine if it was up to date. So I am thinking of updating it to the new Ecto. However since this project includes support for migrations I wonder what should I do about them? Should we just delete the support for migrations or should I create a mix tasks for handling them or something? If I understand things correctly the migration

[2020-07-25 17:48] madshargreave commented on #79
I'm interested in this as well

[2020-07-25 22:13] ghost commented on #79
In the support of Ecto 3 or in the migrations? I think I am going try to do a pr to fix update to ecto 3 anyway. If you are interested in the support for migrations, I will try to keep them.

[2020-07-27 23:28] ghost commented on #79
Apparently there is this. I will just use that for my own needs. https://hexdocs.pm/ecto3_mnesia/Ecto.Adapters.Mnesia.html

[2020-07-28 16:14] AndrewDryga commented on #79
@August401 I think migrations are still a nice way to organize your database structure so I would try to keep them, which requires us to write tasks similar to the ones in ecto_sql (unfortunately :().

[2020-08-20 11:34] anuragjain67 opened #80 "Support for Ecto 3"
To upgrade elixir version we need to upgrade ecto as well and for this ecto_mnesia should support ecto3 version.

[2020-08-20 11:46] anuragjain67 commented on #80
I have just looked at these tickets. (Sorry for recreating another ticket)
https://github.com/Nebo15/ecto_mnesia/issues/76
https://github.com/Nebo15/ecto_mnesia/issues/72

@AndrewDryga  Still looking for your inputs on this.

[2021-03-03 10:45] KushanChamindu commented on #80
I am also interested in this issue because when my project compiling it shows a lot of warning.
ex: